# Ignore everything, unless explicitly included
*
*/

!.gitignore
!LICENSE
!.env.example

!docker-compose.yml

!secrets
secrets/*

!appdata
appdata/*

!appdata/traefik
appdata/traefik/*
!appdata/traefik/rules
appdata/traefik/rules/*
!appdata/traefik/rules/middlewares.yml
!appdata/traefik/rules/middlewares-chains.yml
!appdata/traefik/rules/tls-opts.yml
!appdata/traefik/rules/app-cockpit.yml
!appdata/traefik/rules/app-hdhomerun.yml
!appdata/traefik/rules/app-home-assistant.yml
!appdata/traefik/rules/app-homebridge.yml
!appdata/traefik/rules/app-powerwall.yml
!appdata/traefik/rules/app-printer.yml
!appdata/traefik/rules/app-synology.yml
!appdata/traefik/rules/app-unifi-cloudkey.yml
!appdata/traefik/rules/app-unifi-protect.yml
!appdata/traefik/rules/app-unifi-usg.yml

!appdata/home-assistant
appdata/home-assistant/*
!appdata/home-assistant/automations.yaml
!appdata/home-assistant/binary_sensors.yaml
!appdata/home-assistant/configuration.yaml
!appdata/home-assistant/customize.yaml
!appdata/home-assistant/fans.yaml
!appdata/home-assistant/groups.yaml
!appdata/home-assistant/homekit.yaml
!appdata/home-assistant/lights.yaml
!appdata/home-assistant/scenes.yaml
!appdata/home-assistant/scripts.yaml
!appdata/home-assistant/sensors.yaml
!appdata/home-assistant/templates.yaml
!appdata/home-assistant/ui-lovelace.yaml
!appdata/home-assistant/zha.yaml
!appdata/home-assistant/zwave.yaml

!appdata/home-assistant/blueprints
appdata/home-assistant/blueprints/*
!appdata/home-assistant/blueprints/automation
appdata/home-assistant/blueprints/automation/*
!appdata/home-assistant/blueprints/automation/jlaska
appdata/home-assistant/blueprints/automation/jlaska/*
!appdata/home-assistant/blueprints/automation/jlaska/*.yaml

!appdata/home-assistant/lovelace
appdata/home-assistant/lovelace/*

!appdata/home-assistant/lovelace/views
appdata/home-assistant/lovelace/views/*
!appdata/home-assistant/lovelace/views/*.yaml

!appdata/home-assistant/lovelace/button_card_templates
appdata/home-assistant/lovelace/button_card_templates/*
!appdata/home-assistant/lovelace/button_card_templates/*.yaml

!appdata/prometheus
appdata/prometheus/*
!appdata/prometheus/prometheus.yml

!appdata/zigbee2mqtt
appdata/zigbee2mqtt/*
appdata/zigbee2mqtt/configuration.yaml

!scripts
scripts/*
!scripts/systemd
scripts/systemd/*
!scripts/systemd/media-home.automount
!scripts/systemd/media-home.mount
!scripts/systemd/media-PLEX.automount
!scripts/systemd/media-PLEX.mount
