# Ignore everything, unless explicitly included
*
*/

!.gitignore
!LICENSE
!.env.example

!docker-compose.yml

!secrets
secrets/*

!appdata
appdata/*

!appdata/traefik
appdata/traefik/*
!appdata/traefik/*.example
!appdata/traefik/rules
appdata/traefik/rules/*
!appdata/traefik/rules/*.example
!appdata/traefik/rules/tls-opts.yml

!scripts
scripts/*
!scripts/systemd
scripts/systemd/*
!scripts/systemd/media-home.automount
!scripts/systemd/media-home.mount
!scripts/systemd/media-PLEX.automount
!scripts/systemd/media-PLEX.mount
