# Ignore everything, unless explicitly included
*
*/

!.gitignore
!LICENSE
!.env.example

!docker-compose.yml

!secrets
secrets/*

!appdata
appdata/*

!appdata/traefik
appdata/traefik/*
!appdata/traefik/*.example
!appdata/traefik/rules
appdata/traefik/rules/*
!appdata/traefik/rules/*.example
!appdata/traefik/rules/tls-opts.yml
